*{
    margin: 0;
    padding: 0;
}
body {
    position: relative; /* Needed for absolute positioning of pseudo-element */

    max-height: 100vh;
    background-image: url(cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    /* background: linear-gradient(to right, rgb(5, 52, 79), rgb(17, 87, 149)); */
}

header{
    background-color: rgba(0, 0, 0, 0.5) ; 
    height: 30px;
    padding: 2rem 0 ;
    display: flex;
    justify-content: space-between;
    
}

.logo{
    letter-spacing: -2px;
    font-style: italic;
}
nav > ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 1rem;
    font-size: large;
}
a{
    color: white;
    text-decoration: none;
    padding-left: 1rem;
}
.search-bar{
    border: none;
    background-color: white;
    border-radius: 15px;
    width: 30%;
    padding: 0.3rem;
    height: 130%;
}
.input{
    border-radius: 15px;
    border: none;
    height: 1.5rem;
    width: 50%;
}
button{
    background-color: rgb(12, 165, 195);
    padding: 0.8rem;
    border-radius: 15px;
    color:aliceblue;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    margin-left: 0.2rem;
}
.main-page{
    margin-top: 100px;
    margin-left: 100px;
    width: auto;
    
}
.title {
    width: 30%;
    font-size: xx-large;
    margin-bottom: 3rem;
    box-shadow: rgba(7, 7, 4, 0.17) 80px 70px 75px 80px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
}
.description{
    width: 30%;
    margin-bottom: 3rem;
    font-size: large;
    text-align: left;
    box-shadow: rgba(7, 7, 4, 0.17) 80px 70px 75px 80px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.social-icons {
    position: absolute; /* Position fixed so it stays fixed relative to the viewport */
    top: 60%; /* Adjust as needed */
    left: -30px; /* Positioned at the left side of the viewport */
    transform: translateY(-50%) rotate(90deg); /* Adjust the angle and positioning as needed */
}

/* Adjustments to the image */
.social-icons img {
    width: 150px; /* Adjust width as needed */
    height: 50px; /* Maintain aspect ratio */
}

.search-bar-hide{
    visibility: hidden;
}

.users{
    display: flex;
    gap: 3rem;
    
}
#user {
    margin-right: 1rem;
    background-color: rgba(22, 36, 106, 0.5); /* Aqua color with 50% opacity */
    border-radius: 15px;
    padding: 1rem;
}
.post-job{
    background-color: blue;
    color: white;
    padding: 0.5rem;
    width: 80%;
    margin-right: 1rem;
    margin-top: 2rem;
    border-radius: 15px;
    border: none;
}

.AboutUs{
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}
.description2{
    font-size: x-large;
}
.title2{
    font-size:3rem;
}
.title2 > h1{
    width: 50%;
}
.button2{
    float: left;
}

/* **********************AboutUS CSS ********************** */
.contactUs{
    display: flex;
    padding: 10rem 14rem;
    justify-content: space-between;
}
.form-container {
    width: 600px;
    background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
}

.form-container button:active {
    scale: 0.95;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input {
    width: 90%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}

.form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
}

  .form-container .form-group input::placeholder {
      opacity: 0.5;
    }
    
    .form-container .form-group input:focus {
        outline: none;
        border-color: #e81cff;
    }
    
    .form-container .form-group textarea:focus {
        outline: none;
        border-color: #e81cff;
    }
    
    .form-container .form-submit-btn {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        align-self: flex-start;
        font-family: inherit;
        color: #717171;
        font-weight: 600;
        width: 40%;
        background: #313131;
        border: 1px solid #414141;
        padding: 12px 16px;
        font-size: inherit;
        gap: 8px;
        margin-top: 8px;
        cursor: pointer;
        border-radius: 6px;
    }
    
    .form-container .form-submit-btn:hover {
        background-color: #fff;
        border-color: #fff;
    }
    
    
    
    /* *****************************Serch bar-******************* */
    /* Style for countries list */
    .main{
        display: flex ;
        justify-content: space-between;
    }
    .countries-list {
        list-style-type: none;

    }
    
    /* Style for each country item */
    .country-item {
                display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
    }
    
    /* Style for cities list */
    .cities-list {
        width: 100%;
        list-style-type: none;
    }

    /* Style for each city item */
    .city-item {
        border: 2px solid red;
        margin-bottom: 10px;
        width: 50%;
        background-color: white;
        color: black;
        width: 500px;
        padding: 1rem;
        border: none;
        border-radius: 15px;
    }
    
    /* Style for city images */
    .city-item img {
        height: 400px;
        width: 500px;
        margin-bottom: 10px;
    }
    
    /* Style for city descriptions */
    .city-item p {
        line-height: 1.5;
        margin: 0;
        width: 100%;
    }
    
    .data-container{
        margin: 50px;
        width: auto;
        display: flex;
        float: right;;
    }